.container {
    position:absolute;
    height:100%;
    width:100%;
    font-size:24px;
}

.full-height {
    height:100%;
    min-height:100%;
}

#map {
    background:#000;
}

.overlay {
    z-index: 2;
    position: absolute;
    background:rgba(0, 0, 0, 0.8);
    color:white;
    margin-top: 40px;
    margin-left: 40px;
    line-height: 1.3333;
    min-width: 300px;
}

#overview_map {
    height: 200px;
    background:#111;
}

.leaflet-control-attribution {
    box-shadow:none !important;
    background:rgba(0, 0, 0, 0.8) !important;
    color:#444;
}

#reverse-location {
    font-size: 75%;
    position: relative;
}

.loading {
    background:url(loader_bg.gif);
    padding:10px;
    color:#000;
    text-align:center;
}

@media only screen and (max-width: 900px) {
    .overlay {
        margin-left: 20px;
        margin-top: 20px;
    }
    .container {
        font-size: 18px;
    }
    #reverse-location p::before {
        top: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        font-size: 32px;
    }
    #reverse-location p::before {
        top: 8px;
    }
}

@media only screen and (max-width: 640px) {
    .overlay {
        margin: 0px;
    }
    p { margin-bottom: 10px;}
    #overview_map {
        display: none;
    }
    .pad2 {
        padding: 10px;
    }
}
