.container {
    position:absolute;
    height:100%;
    width:100%;
    font-size:24px;
}

.full-height {
    height:100%;
    min-height:100%;
}

#map {
    background:#000;
}

.overlay {
    z-index: 2;
    position: absolute;
    background: #000;
    color:#aaa;
    margin-top: 40px;
    margin-left: 8.33333%;
    line-height: 1.3333;
}

.byosm {
    width:50px;
    height:50px;
    position:absolute;
    top:10px;
    right:10px;
    background:url(byosm.png);
}

.overlay a {
    color:#fff;
}

#overview_map {
    height: 300px;
    background:#111;
    position: relative;
}

.sq {
    width:300px;
}

.indicator {
    position:absolute;
    top:5px;
    left:5px;
    color:#fff;
    z-index:99;
    font-size:20px;
    text-shadow:
        0 0 2px #000,
        0 0 2px #000,
        0 0 2px #000,
        0 0 2px #000;
}

#overview_map::after {
    content: "";
    display: block;
    height: 40px;
    width: 30px;
    position: absolute;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgo8c3ZnIGlkPSJzdmc0ODc1IiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgaGVpZ2h0PSIzNC4wMDAwMDQiIHdpZHRoPSIyMSIgdmVyc2lvbj0iMS4xIiB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgo8bWV0YWRhdGEgaWQ9Im1ldGFkYXRhNDg4MCI+CjxyZGY6UkRGPgo8Y2M6V29yayByZGY6YWJvdXQ9IiI+CjxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0Pgo8ZGM6dHlwZSByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIi8+CjxkYzp0aXRsZS8+CjwvY2M6V29yaz4KPC9yZGY6UkRGPgo8L21ldGFkYXRhPgo8ZyBpZD0ibGF5ZXIxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjkxLjk4MjE0LC00NzguMjE5MzIpIj4KPHBhdGggaWQ9InBhdGg0ODMxIiBzdHlsZT0ib3BhY2l0eTowLjI1O2NvbG9yOiMwMDAwMDA7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZTtmaWxsOiMwMDAwMDA7ZmlsbC1ydWxlOm5vbnplcm87IiB0cmFuc2Zvcm09Im1hdHJpeCgwLjg0LDAsMCwxLDE1Ny41ODIxNCwyNDQuODU3MTQpIiBkPSJtMTg1LDI2Mi4zNjIxOGExMi41LDUsMCwxLDEsLTI1LDAsMTIuNSw1LDAsMSwxLDI1LDB6Ii8+CjxwYXRoIGlkPSJwYXRoNDYyMy04LTkiIHN0eWxlPSJjb2xvcjojMDAwMDAwO2VuYWJsZS1iYWNrZ3JvdW5kOmFjY3VtdWxhdGU7ZmlsbDojMzg4N2JlOyIgZD0ibTMxMi45ODIxNCw0ODkuNjk4NDljMCw2LjY0NTg0LTEwLjUwMDAxLDE3LjUyMDgzLTEwLjUwMDAxLDE3LjUyMDgzcy0xMC40OTk5Ny0xMC44NzQ5OS0xMC40OTk5OS0xNy41MjA4M2MtMC4wMDAwMi02LjA0MTY1LDMuNTAwMDItMTEuNDc5MTUsMTAuNDk5OTktMTEuNDc5MTcsNy4wMDAwMS0wLjAwMDAyLDEwLjUwMDAxLDUuNDM3NTIsMTAuNTAwMDEsMTEuNDc5MTd6Ii8+CjwvZz4KPC9zdmc+Cg==) 0 0 no-repeat;
}

.leaflet-control-attribution {
    box-shadow:none !important;
    background:rgba(0, 0, 0, 0.2) !important;
    color:white !important;
}

.change-meta {
    font-size:20px;
    font-weight:bold;
    color:#fff;
    position: relative;
}

.loading {
    background:url(loader_bg.gif);
    padding:10px;
    color:#000;
    text-align:center;
}

.align-bottom {
    bottom:20px;
}

@media only screen and (max-width: 900px) {
    .overlay {
        margin-top: 20px;
    }
    .container {
        font-size: 18px;
    }
    #reverse-location p::before {
        top: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        font-size: 32px;
    }
    #reverse-location p::before {
        top: 8px;
    }
}

@media only screen and (max-width: 640px) {
    .overlay {
        margin: 0px;
    }
    p { margin-bottom: 10px;}
    #overview_map {
        display: none;
    }
    .pad2 {
        padding: 10px;
    }
}
