:root {
    --backgroundColor: rgba(0,0,0,0.9);
    --mainFontColor: rgba(255,255,255,1);
    --yellow: #FFEEB2;
    --fadeTransition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    --blueAccent: #0F80FF;
    --attributionFont: rgba(255,255,255,0.5);
    --largeFontSize: 2rem;
    --mediumFontSize: 1.5rem;
    --smallFontSize: 1rem;
    --largeMargin: 2rem 8rem;
    --mediumMargin: 1rem;
    --smallMargin: 0;
}

h1 {
    font-size: var(--largeFontSize * 3);
    line-height: 120%;
    letter-spacing: -0.125rem;
}

.container {
    position:absolute;
    height:100%;
    width:100%;
}

.full-height {
    height:100%;
    min-height:100%;
}

#map {
    background: var(--backgroundColor);
}

.overlay {
    z-index: 500;
    position: absolute;
    background: var(--backgroundColor);
    margin: var(--largeMargin);
    line-height: 1.3333;
    opacity: 0;
}

.byosm {
    width:50px;
    height:50px;
    position:absolute;
    top:10px;
    right:10px;
    background:url(byosm.png);
}

.overlay a {
    color: var(--mainFontColor);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgba(255,255,255, 0.25);
    text-decoration-thickness: 0.125rem;
}

#overview_map {
    height: 240px;
    width: 300px;
    background: #111;
    position: relative;
}

.indicator {
    position:absolute;
    top:5px;
    right:5px;
    color: var(--mainFontColor);
    z-index:501;
    font-size: var(--smallFontSize);
}


.leaflet-control-attribution {
    box-shadow:none !important;
    background: rgba(0, 0, 0, 0.5) !important;
}

.leaflet-control-attribution a {
    color: rgba(255,255,255,0.5) !important;
    font-weight: 400;
}

#reverse-location {
    max-width: 300px;
    font-size: calc(12px + 0.375em);
}

#metadata {
    bottom: 0;
}

#comment {
    font-size: calc(12px + 0.375em);
}

/* large */
@media only screen and (min-width: 1200px) {
    .container {
        font-size: var(--largeFontSize);
    }
    #reverse-location p::before {
        top: 8px;
    }
}

/* medium */
@media only screen and (max-width: 1200px) {
   .container {
        font-size: var(--mediumFontSize);
    }
    .overlay {
        margin: var(--mediumMargin);
    }
    #reverse-location p::before {
        top: 0px;
    }
}

/* small */
@media only screen and (max-width: 640px) {
   .container {
        font-size: var(--smallFontSize);
    }
    .overlay {
        margin: var(--smallMargin);
    }
    p { margin-bottom: 10px;}
    #overview_map {
        display: none;
    }
    .pad2 {
        padding: 10px;
    }
}

#loading {
    background-color: var(--backgroundColor);
    padding: 1.5rem 2.5rem;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.loading-dots {
    display: inline-block;
    width: 1em;
    text-align: left;
}

.loading-dots::after {
    content: "";
    animation: loading-dots 2.5s steps(1) infinite;
}

@keyframes loading-dots {
    0% { content: ""; }
    20% { content: "."; }
    40% { content: ".."; }
    60% { content: "..."; }
}

.fade-out {
    opacity: 0;
    transition: var(--fadeTransition);
}

.fade-in {
    opacity: 1;
    transition: var(--fadeTransition);
}

.bold {
    font-weight: bold;
}
