<!DOCTYPE html>
<html>
<head>
    <title>Show Me The Way</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.5/leaflet.css' />
    <link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='css/site.css' />
    <!--[if lte IE 8]><link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css' /><![endif]-->
</head>
<body>
<div class='container'>
    <div class='col3 full-height dark border-right'>
        <div id='overview_map'></div>
        <div class='col3 big-type' id='changeset_info'></div>
    </div>
    <div id='map' class='col9 full-height'></div>
</div>
    <script id='changeset-template' type='template'>
<p><a href='//osm.org/user/<%= change.neu.user %>'><%= change.neu.user %></a>
     added <a href='//osm.org/browse/<%= change.neu.type %>/<%= change.neu.id %>'>#<%= change.neu.id %></a>
    in changeset <a href='http://osm.org/browse/changeset/<%= change.neu.changeset %>'>
        <%= change.neu.changeset %>
    </a></p>
    </script>
    <script src='http://cdn.leafletjs.com/leaflet-0.5/leaflet.js'></script>
    <script src='js/Bing.js'></script>
    <script src='js/underscore-min.js'></script>
    <script src='js/bundle.js'></script>
</body>
</html>
