<!DOCTYPE html>
<html>
<head>
    <title>Show Me The Way</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.5/leaflet.css' />
    <link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='css/site.css' />
    <!--[if lte IE 8]><link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css' /><![endif]-->
</head>
<body>
<div class='container'>
    <div class='col3 overlay'>
        <div class='pad2'>
            <h1>Latest Edit</h1>
        </div>
        <div id='overview_map'></div>
        <div class='pad2' id='changeset_info'></div>
    </div>
    <div id='map' class='col12 full-height'></div>
</div>
    <script id='changeset-template' type='template'>
<p><a target='_blank' href='//osm.org/user/<%= change.neu.user %>'><%= change.neu.user %></a>
     added <a target='_blank' href='//osm.org/browse/<%= change.neu.type %>/<%= change.neu.id %>'>#<%= change.neu.id %></a>
    in changeset <a target='_blank' href='http://osm.org/browse/changeset/<%= change.neu.changeset %>'>
        <%= change.neu.changeset %></a>
    <div id='reverse-location'></div>
    </p>
    </script>
    <script src='http://cdn.leafletjs.com/leaflet-0.5/leaflet.js'></script>
    <script src='js/Bing.js'></script>
    <script src='js/bundle.js'></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39286611-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
