name: Run ESLint
on: [pull_request]
jobs:
  Run-ESLint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Install dev dependencies
        run: npm install --no-audit
      - name: Run ESLint
        run: npm run lint
